/** Logo color #4D5AE5 + #2E2F42*/

:root {
  --page-color: #ffffff;
  --main-text: #2e2f42;
  --light-text: #f4f4fd;
  --accent-color: #4d5ae5;
  --main-color: #434455;
  --action-color: #404bbf;
  --portfolio-btn-brd: #e7e9fc;
  --description-size: 16px;
  --description-height: 24px;
  --general-lh: 1.5;
  --ls-small: 0.02em;
  --ls-big: 0.04em;
}

/** COMMON */
/* #region COMMON*/
body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: #ffffff;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.description {
  font-weight: 400;
  font-size: var(--description-size);
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
  color: var(--main-color);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: var(--ls-small);
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-text);
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
  color: var(--main-text);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*#endregion COMMON*/

/** HEADER */
/* #region HEADER*/

/** --Logo */
.logo {
  margin-right: 76px;

  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color);
}
.accent-color {
  color: var(--accent-color);
}

.dark {
  color: var(--main-text);
}

.light {
  color: var(--light-text);
}

.page-header {
  padding: 22.5px 156px;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/** NAVIGATION */
/* #region NAVIGATION*/
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: var(--ls-small);
  color: var(--main-text);
}

.nav-link:hover,
.nav-link:focus,
.contact-item > a:hover,
.contact-item > a:focus {
  color: var(--action-color);
}

.contacts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.contact-item > a {
  font-size: var(--description-size);
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
  font-weight: 400;
  text-decoration: none;
  color: var(--main-color);
}

.address {
  display: flex;
  /* margin-left: auto; */

  font-style: normal;
}
/* #endregion NAVIGATION */
/* #endregion HEADER */

/** FOOTER */
/* #region FOOTER*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--main-text);
}

.footer-description {
  max-width: 264px;
  color: #f4f4fd;
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
/* #endregion FOOTER */

/** INDEX */
/* #region INDEX*/

/** MAIN */

/** HERO */
/* #region HERO*/

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  height: 600px;
  /* margin: 0 auto 48px; */
  /* align-items: center; */
}

.hero {
  /* padding-top: 188px;
  padding-bottom: 188px;

  background-color: var(--main-text); */

  background-image: url("../images/png/hero-bg.png"),
    url("../images/office.jpeg");
  background-position: center;
  background-size: 1440px;
  background-repeat: no-repeat no-repeat;
  color: #ffffff;
}

.hero-title {
  max-width: 496px;
  margin-top: auto;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--ls-small);
  text-align: center;
}
.hero-button {
  display: block;
  min-width: 169px;
  margin-bottom: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--ls-big);

  background-color: var(--accent-color);
  color: #ffffff;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--action-color);
  cursor: pointer;
}
/* #endregion HERO */

/** FEATURES */
/* #region FEATURES*/
.feature-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-container {
  display: flex;
}

.features-list {
  display: flex;
  gap: 24px;
  /* padding-left: 0; */
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

/* #endregion FEATURES */

/** SOLUTIONS */
/* #region SOLUTIONS*/
.solution-section {
  padding-bottom: 120px;
}

.solution-container {
  display: flex;
  flex-direction: column;
}

.solutions-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  /* padding-left: 0; */
}

.solution-item {
  width: calc((100% - 48px) / 3);
}
/* #endregion SOLUTIONS */

/** TEAM */
/* #region TEAM*/

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-list {
  display: flex;
  gap: 24px;
  /* padding-left: 0; */
}

.teammate {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--page-color);
}

.teammate-description {
  padding: 32px 16px;
  text-align: center;
}
/* #endregion TEAM */
/* #endregion INDEX */
/** PORTFOLIO */
/* #region PORTFOLIO*/

/** MAIN */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  /* padding-left: 0; */
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-btn-brd);
  border-top: none;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-bottom: 72px;
}

.portfolio-button {
  padding: 12px 24px;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--general-lh);
  letter-spacing: var(--ls-big);
  color: var(--accent-color);
  background-color: var(--light-text);
  cursor: pointer;

  border-radius: 4px;
  border: 1px solid var(--portfolio-btn-brd);
  background: var(--light-text);
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  border: 1px solid transparent;
  background-color: var(--action-color);
  color: var(--page-color);
}
/** SECTION */
/* #endregion PORTFOLIO */
